@import url(theme/dark_theme.css) (prefers-color-scheme: dark);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100%;
}

.limit-width {
  max-width: 1920px;
  margin: auto;
}

.mono {
  font-family: monospace;
}

.crypto-address {
  font-family: monospace;
  margin: 8px 0;
  overflow: auto;
  width: fit-content;
}

.announcement {
  padding: 8px;
  text-align: center;
  position: relative;
  z-index: 9;
}

.top-nav,
.footer-box {
  width: 100%;
}

nav {
  padding: 10px 50px 0 50px;
}

footer {
  padding: 20px 50px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto 20px;
  padding: 0 0 0 10px;
  border-left: 1px solid #fff;
}

.top-nav > nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.top-nav ul > li {
  margin: 0 10px;
  border-bottom: 2px solid transparent;
}

.main {
  padding-bottom: 250px; /*footer height */
}

#content {
  max-width: 1080px;
  margin: auto;
  padding: 30px;
}

.shorten-bar-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 10px;
}

.shorten-box > .result-box {
  margin: 5px;
}

#uri-input,
#submit-btn {
  height: 30px;
  border-radius: 20px;
  margin: 10px;
}

#uri-input {
  width: 70%;
  /* min-width: 200px; */
}

#submit-btn {
  padding: 5px 15px;
}

#submit-btn:active {
  transform: translateY(2px);
}

.result-box {
  text-align: center;
}

.footer-box {
  height: 250px;
  line-height: 1.5;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-list {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}

.footer-list > li {
  margin: 5px 0;
}

#footer-end {
  display: block;
  font-size: 0.95em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #content {
    padding: 20px;
  }

  nav {
    padding: 10px 20px 0 20px;
  }

  footer {
    padding: 10px 20px;
  }

  #uri-input {
    width: 80%;
  }
}

@media screen and (max-width: 543px) {
  /* Footer height hack */
  .main {
    padding-bottom: 350px; /*footer height */
  }

  .footer-box {
    height: 350px;
  }
}
